
@{
    ViewBag.Title = "Brugere";
    ViewBag.Title = "Brugere";
    string error = "";
    string fornavn = Request.Form["fornavn"];
    string efternavn = Request.Form["efternavn"];
    string telefon = Request.Form["telefon"];
    string type = Request.Form["type"];
    string email = Request.Form["email"];
    if (IsPost)
    {
        if (Request.Form["fornavn"] != "")
        {
            if (Request.Form["efternavn"] != "")
            {
                if (Request.Form["password"] != "")
                {
                    if (Request.Form["passwordCheck"] != "" || Request.Form["passwordCheck"] != Request.Form["password"])
                    {
                        if (Request.Form["type"] != "")
                        {
                            if (Request.Form["email"] != "")
                            {
                                string data = "'" + Request.Form["fornavn"] + "','" + Request.Form["efternavn"] + "','" + Request.Form["password"] + "'," + Request.Form["telefon"] + "," + Request.Form["type"] + ",'" + Request.Form["email"] + "'";
                                Functions.CreateUser(data);
                                error = "";
                                fornavn = "";
                                efternavn = "";
                                telefon = "";
                                type = "";
                                email = "";
                            }
                            else
                            { error = "Email mangler"; }
                        }
                        else
                        { error = "Type mangler"; }
                    }
                    else
                    { error = "Passwords matcher ikke"; }
                }
                else
                { error = "Password mangler"; }
            }
            else
            { error = "Mangler Efternavn"; }
        }
        else
        { error = "Mangler Fornavn"; }

    }
}

<h2>Brugere</h2>

<form action="/Brugere" method="post">
    <table>
        <tr>
            <td>Fornavn</td>
            <td><input id="fornavn" name="Fornavn" type="text" value="@fornavn" /></td>
            <td>@error</td>
        </tr>
        <tr>
            <td>Efternavn</td>
            <td><input id="efternavn" name="Efternavn" type="text" value="@efternavn" /></td>
        </tr>
        <tr>
            <td>Password</td>
            <td><input id="password" name="Password" type="password" value="" /></td>
        </tr>
        <tr>
            <td>Gentast password</td>
            <td><input id="passwordCheck" name="PasswordCheck" type="password" value="" /></td>
        </tr>
        <tr>
            <td>Telefon</td>
            <td><input id="telefon" name="Telefon" type="number" value="@telefon" /></td>
        </tr>
        <tr>
            <td>Type: 0=admin, 1=medarbejder</td>
            <td><input id="type" name="Type" type="number" min="0" max="1" value="@type" /></td>
        </tr>
        <tr>
            <td>Email</td>
            <td><input id="email" name="Email" type="email" value="@email" /></td>
        </tr>
        <tr>
            <td><input type="submit" onclick="Create" /></td>
        </tr>
    </table>
</form>